snippet redux.action "Redux action template"
export const ${1} = Symbol('${1}')
export type ${1}_TYPE = typeof ${1}

export interface ${2} {
  type: ${1}_TYPE
  ${3}
}

export default function create${2} (${4}: {
  ${3}
}): ${2} {
  return {
    type: ${1},
    ...${4}
  }
}
endsnippet
